Canvas
Css Template
Png
CSS
Export
Download

CSS CODE:
.join-us-pic {
height: 150px;
width: 150px;
background: url() -450px -48px no-repeat;
overflow: hidden;
}
.team-intro-pic {
height: 150px;
width: 150px;
background: url() -0px -48px no-repeat;
overflow: hidden;
}
.product-intro-pic {
height: 150px;
width: 150px;
background: url() -150px -48px no-repeat;
overflow: hidden;
}
.team-honor-pic {
height: 150px;
width: 150px;
background: url() -300px -48px no-repeat;
overflow: hidden;
}
.logo {
height: 55px;
width: 55px;
background: url() -312px --7px no-repeat;
overflow: hidden;
}
.1 {
height: 50px;
width: 50px;
background: url() -0px --2px no-repeat;
overflow: hidden;
}
.3 {
height: 50px;
width: 50px;
background: url() -100px --2px no-repeat;
overflow: hidden;
}
.2 {
height: 50px;
width: 50px;
background: url() -50px --2px no-repeat;
overflow: hidden;
}
.4 {
height: 50px;
width: 50px;
background: url() -150px --2px no-repeat;
overflow: hidden;
}
.shouDown {
height: 32px;
width: 32px;
background: url() -200px --2px no-repeat;
overflow: hidden;
}
.small-dots-on {
height: 30px;
width: 30px;
background: url() -367px -10px no-repeat;
overflow: hidden;
}
.nextPage-btn {
height: 25px;
width: 25px;
background: url() -232px --2px no-repeat;
overflow: hidden;
}
.prevPage-btn {
height: 25px;
width: 25px;
background: url() -257px --2px no-repeat;
overflow: hidden;
}
×Notice! This HTML5 app is only tested for Chrome 18+(recommend) and Firefox 10+ now.
Go!PNG
Make Png & css

CANVAS SIZES
Canvas width

600
Canvas Height

600
 Apply changes

PACKER MODES
Fixed Size
VerticalBinTree
Auto Grow
BinTreeMinimize

ZOOM SETTING
Zoom mode
1X2X4X
Zoom raduis

200
 Apply changes

MAGNET SETTING
Magnet
Magnet!
Magnet distance

8
 Apply changes
View On GitHub

 Get some help 