@import "reset.css";
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -35%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 35%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes lineMidShow {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    width: 50%;
    opacity: 1;
  }
}
.banner-box {
  height: 101%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner-box .btn {
  position: absolute;
  top: 42%;
  display: block;
  width: 60px;
  height: 25px;
  z-index: 999;
  opacity: .8;
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}
.banner-box .btn-next {
  right: 25px;
  background: url("../images/nextPage-btn.png") no-repeat right;
}
.banner-box .btn-next:hover {
  transform: translate(15px, 0);
  -webkit-transform: translate(15px, 0);
  -moz-transform: translate(15px, 0);
  -o-transform: translate(15px, 0);
  -ms-transform: translate(15px, 0);
}
.banner-box .btn-prev {
  left: 25px;
  background: url("../images/prevPage-btn.png") no-repeat;
}
.banner-box .btn-prev:hover {
  transform: translate(-15px, 0);
  -webkit-transform: translate(-15px, 0);
  -moz-transform: translate(-15px, 0);
  -o-transform: translate(-15px, 0);
  -ms-transform: translate(-15px, 0);
}
.banner-box .buttons {
  margin: 0 auto;
  position: relative;
  top: 88%;
  height: 10px;
  width: 100px;
  z-index: 1000;
}
.banner-box .buttons span {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 999;
}
.banner-box .buttons .on {
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  background: url("../images/small-dots-on.png") no-repeat;
}
.banner-box #show-down {
  display: inline-block;
  position: absolute;
  top: 93%;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  z-index: 1200;
  background: url("../images/sprite.png") -200px -2px no-repeat;
  animation: upDown 1s infinite linear both;
}
@keyframes upDown {
  0% {
    top: 92%;
  }
  50% {
    top: 93%;
  }
  100% {
    top: 92%;
  }
}
.banner-ul {
  position: absolute;
  width: 500%;
  height: 100%;
}
.banner-ul li {
  height: 100%;
  width: 20%;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 40px;
  background: #26b5a3;
}
.banner-1-text {
  position: relative;
  top: 40%;
  width: 80%;
  margin: -50px auto;
  z-index: 999;
}
.banner-1-text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 7px;
  animation: fadeInDown 1000ms linear both;
}
.banner-1-text h2 {
  margin-bottom: 14px;
  color: #fff;
  font-size: 20px;
  animation: fadeInDown 1000ms linear both;
  animation-delay: .8s;
}
.banner-1-text .home-ico {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url("../images/logo.png") no-repeat;
  cursor: pointer;
  animation: fadeInDown 1000ms linear both;
  animation-delay: 1.2s;
}
.banner-2-text {
  position: relative;
  top: 33%;
  width: 80%;
  margin: 0 auto;
  z-index: 10;
}
.banner-2-text h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
  animation: fadeInDown 1000ms linear both;
}
.banner-2-text h2 {
  color: #fff;
  font-size: 20px;
  animation: fadeInDown 1000ms linear both;
}
.banner-2-text .line {
  height: 2px;
  width: 400px;
  margin: 20px auto;
  background: #fff;
  animation: lineMidShow 1000ms linear both;
}
.banner-3-video {
  position: relative;
  margin: 0 auto;
  top: 17%;
  z-index: 999;
}
.guider-tab {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.gt-header {
  color: #27384c;
  text-align: center;
  padding: 40px 0 44px 0;
}
.gt-header h2 {
  font-size: 30px;
  animation: fadeInUp 1000ms linear both;
}
.gt-header h3 {
  font-size: 18px;
  margin-bottom: 10px;
  animation: fadeInUp 1000ms linear both;
  animation-delay: .5s;
}
.gt-header .ht-header-slogan {
  width: 50%;
  margin: 0 auto;
  border-top: 2px solid #27384c;
  padding-top: 15px;
  font-size: 16px;
  animation: fadeInUp 1000ms linear both;
  animation-delay: 1s;
}
.gt-guider-ball {
  width: 810px;
  margin: 0 auto 120px;
}
.gt-guider-ball > a {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  float: left;
  position: relative;
  text-align: center;
  border-radius: 50%;
  animation: fadeInUp 1000ms linear both;
}
.gt-guider-ball > a:hover {
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
  transform: translate(-5px, -10px);
  -webkit-transform: translate(-5px, -10px);
  -moz-transform: translate(-5px, -10px);
  -o-transform: translate(-5px, -10px);
  -ms-transform: translate(-5px, -10px);
  box-sizing: border-box;
  border: 3px solid #26b5a3;
  cursor: pointer;
}
.gt-guider-ball h2 {
  font-size: 15px;
  color: #fff;
  position: relative;
  z-index: 1000;
  top: 57px;
}
.gt-guider-ball .cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #666;
  opacity: .4;
}
.gt-guider-ball .cover:hover {
  animation: changeOpa 1.3s linear both;
}
@keyframes changeOpa {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 0;
  }
}
.gt-guider-ball .gt-team-intro {
  background: url("../images/sprite.png") 0 -48px no-repeat;
}
.gt-guider-ball .gt-product-intro {
  background: url("../images/sprite.png") -150px -48px no-repeat;
}
.gt-guider-ball .gt-team-honor {
  background: url("../images/sprite.png") -300px -48px no-repeat;
}
.gt-guider-ball .gt-join-us {
  background: url("../images/sprite.png") -450px -48px no-repeat;
}
