@import url("reset.css");
@import url("top-bar.css");
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
html {
  position: relative;
  z-index: -3;
  background: #eee;
}
.back-index {
  background: #27384c;
}
.product-box1,
.product-box2,
.product-box3 {
  overflow: hidden;
  width: 70%;
  height: 340px;
  margin: 80px auto;
  box-shadow: 2px 4px 30px #3e5a7a;
  border-radius: 5px;
}
.product-box1 {
  margin-top: 100px;
}
.product-box1 .product-text-box {
  float: right;
}
.product-box2 {
  height: 310px;
}
.product-box2 .product-text-box {
  float: left;
  background: #b7814c;
}
.product-box3 {
  height: 310px;
}
.product-box3 .product-text-box {
  float: right;
  background: #f98158;
}
.product-text-box {
  width: 68%;
  height: 100%;
  background: #19c6a0;
  color: #fff;
  box-sizing: border-box;
  padding: 25px 20px 20px 30px;
}
.product-text-box h2 {
  font-size: 25px;
  font-weight: bold;
}
.product-text-box h3 {
  font-size: 16px;
  margin-bottom: 15px;
}
.product-text-box p {
  font-size: 16px;
  text-indent: 24px;
  line-height: 25px;
  margin-bottom: 5px;
}
.product-img-box {
  width: 32%;
  height: 100%;
  overflow: hidden;
}
.img-fit {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.img-fit img {
  max-width: 100%;
}
.product-img-vertical-moving {
  position: relative;
  transition: All 1s ease-in-out;
  -webkit-transition: All 1s ease-in-out;
  -moz-transition: All 1s ease-in-out;
  -o-transition: All 1s ease-in-out;
}
.product-img-vertical-moving:hover {
  transform: translate(0, -30px);
  -webkit-transform: translate(0, -30px);
  -moz-transform: translate(0, -30px);
  -o-transform: translate(0, -30px);
  -ms-transform: translate(0, -30px);
}
.product-img-horizontal-moving {
  position: relative;
  left: -100px;
  transition: All 1s ease-in-out;
  -webkit-transition: All 1s ease-in-out;
  -moz-transition: All 1s ease-in-out;
  -o-transition: All 1s ease-in-out;
}
.product-img-horizontal-moving:hover {
  transform: translate(100px, 0);
  -webkit-transform: translate(100px, 0);
  -moz-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
}
